div{
  border: 1px black solid;
  box-sizing: border-box;
  /*margin: 10px auto;*/
  margin: 10px 2px;
  background-color: white;
  text-align: left;
  color: black;
}
#rootNode{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#node1_1,#node1_2,#node1_3{
  width: 31%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.node2_1,.node2_2,.node2_3,.node3_1,.node3_2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
