* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wholeArea {
    width: 600px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px #eee;
    margin: 20px auto;
}

.item1Content, .item2Content, .item3Content {
    position: relative;
    line-height: 30px;
}

#item1, #item2, #item3 {
    -webkit-appearance: none;
    display: block;
    width: 600px;
    height: 30px;
    border-bottom: 1px solid #bbb1b1;
    background: #eee;
    opacity: 0.5;
    position: absolute;
    top: 0;
    outline: none;
}

#item1:hover, #item2:hover, #item3:hover {
    cursor: pointer;
}

p {
    margin: 5px auto;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

#item1:checked+p.content1 {
    height: 270px;
}

#item2:checked+.content2 {
    height: 270px;
}

#item3:checked+.content3 {
    height: 270px;
}
