*{
  box-sizing: border-box;
}
.table{
  display: table;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
  padding: 2px 10px;
  /*border: 1px solid red;*/
  vertical-align: middle;
}
div{
  font-size: 18px;
  font-family: 黑体;
}
input{
  border: 0px;
  padding: 0;
  height: 40px;
}
#userName{
  width: 250px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  box-shadow: inset 0 0 3px 1px #b7b7b7;
}
#validate{
  width: 55px;
  color: white;
  background-color: #2f79b9;
  font-family: 黑体;
  font-size: 18px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}
.initial{
  font-size: 12px;
  color: #b7b7b7;
}
.errorCSS{
  display: table-cell;
  padding: 2px 10px;
  vertical-align: middle;
  font-size: 12px;
  color: red;
}
.correctCSS{
  display: table-cell;
  padding: 2px 10px;
  vertical-align: middle;
  font-size: 12px;
  color: green;
}
